* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: 0.5 ease;
}

body {
    background-image: url('./img/retro\ wallpaper.jpg');
    font-family: Helvetica, sans-serif;
    color: rgb(211, 211, 211);
    height: 200%;
    background-color: #f1f1f111;

}

body>div {
    padding-top: 45px;
    scroll-behavior: smooth;
}

.site-container {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    text-align: center;
    display: block;
    background-size: cover;
    border-radius: 50%;
    transition: opacity 0.5 ease;
}

.site-container:hover>.site-logo {
    cursor: pointer;
    transform: rotateY(180deg);
}

.site-container img {
    width: 100%;
}

.site-logo {
    transition: transform 1500ms;
    position: relative;
    transform-style: preserve-3d;
    min-width: 300px;
    min-height: 100px;
}

.logo,
.back {
    border-radius: 50%;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.logo {
    background-image: url('./img/logo.png');
    background-color: #740f0f2d;
    aspect-ratio: 1;
    width: 100%;
    background-size: cover;
}

.back {
    border-style: outset;
    border-color: rgb(207, 21, 21);
    background-color: #3a3a3aa8;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    min-width: 300px;
    min-height: 300px;
    font-family: Helvetica, Arial;
    color: #ffffff;
}


.nav-bar ul {
    list-style-type: none;
    padding: 10px;
    text-align: right;
    background-color: rgba(31, 30, 30, 0.534);
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 10px;
    flex-wrap: wrap;

}

.nav-bar li {
    display: inline-flex;
    margin-right: 4%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.nav-bar a {
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;

}

@keyframes linearGradient {
    0% {
        color: black;
    }

    25% {
        color: rgba(122, 9, 9, 0.418);
    }

    50% {
        color: rgb(201, 62, 62);
    }

    100% {
        color: red;
    }
}

.nav-bar {
    position: fixed;
    width: 100vw;
    top: 0;
}

.nav-bar a:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
    position: static;
    border-radius: 1%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transition: .5s;

}

.bot-bar ul {
    text-align: left;
    font-family: sans-serif;
    font-size: 2px;
    background-color: rgba(31, 30, 30, 0.534);
    position: fixed;
    bottom: 0;
    width: 100%
}


.card-container {
    box-sizing: border-box;
    height: 400px;
    width: 300px;
    margin: 0 auto;
    margin-top: 5rem;
    transition: 1s;
    position: relative;
}

.card {
    height: 100%;
    background-color: rgba(247, 235, 168, 0.363);
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    flex-wrap: wrap;
    color: rgb(0, 0, 10);
    background-image: url('./img/krishia_profile.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    transition: transform 1s ease-in-out;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 10px double rgb(255, 7, 7);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(83, 30, 30);
    z-index: 1;
    pointer-events: none;
}

/* .retro-border img{
    height: 100%;
    background: transparent;
    z-index: inherit;
} */


.info {
    position: absolute;
    top: 0;
    left: -620px;
    height: 400px;
    width: 600px;
    margin: 0;
    background-color: rgba(34, 13, 13, 0.8);
    border-radius: 2em;
    box-shadow: inset;
    flex-wrap: wrap;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.5s ease, transform 0.5s ease;

}

.info h1,
.info p {
    font-style: oblique;
    text-align: right;
    margin-left: 3rem;
    margin: 3rem;
}


.about-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.about-nav ul {
    display: flex;
    background-color: rgba(0, 0, 0, 0.562);
    margin: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1em;
    gap: 3em;

}

.about-nav li {
    display: inline-flex;
    font-size: large;
    text-transform: uppercase;
    justify-content: space-between;
    text-align: center;
    gap: 5px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}


.modal-content {
    background-color: rgba(34, 13, 13, 0.8);
    padding: 40px;
    border-radius: 8px;
    width: 90%;
    height: 60%;
    max-width: 600px;
    max-height: 80%; 
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

}

.card-container:hover>.info {
    opacity: 1;
    transform: translateX(20rem);
    visibility: visible;
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.card-container:hover>.card {
    transform: translateX(20rem);
}

.certs {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;

    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

/* .certs {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.certs.visible {
    opacity: 1;
    transform: translateY(0);
} */

.slide {
    width: 200px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.199);
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}


.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

/* .bubble-container {
    position: relative;
    margin-top: 3rem;
    background-color: transparent;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bubble {
    position: absolute;
    background: radial-gradient(circle,
            rgba(173, 216, 230, 0.3) 30%,
            rgba(135, 206, 235, 0.3) 50%,
            rgba(70, 130, 180, 0.3) 70%,
            rgba(0, 191, 255, 0.3) 100%);
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 15px rgba(173, 216, 230, 0.3), 0 0 25px rgba(135, 206, 235, 0.3);
    border: 1px solid rgba(173, 216, 230, 0.3);
    animation: float 5s linear forwards, pop 0.6s ease-out forwards 4.4s;
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }

    100% {
        transform: translateY(-200px);
        opacity: 0;
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
        opacity: .8;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.2;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
} */

.about {
    height: 30%;
    width: 80%;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 5rem;
}

.pcard {
    height: 300px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pcard img {
    width: 100%;
    height: 100%;
    max-height: calc(100% - 2rem);
    object-fit: cover;
}

.contact img {
    scale: 20%;
    margin: 1rem;
}