/*.container {
    background-color: lightsalmon;
    display: block;
    height: auto;
    border-bottom: 1px red;

}
.container .nav-bar {
    justify-content: space-between;
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    transition: 0.5 ease;
}

body {
    background-image: url('./img/retro\ wallpaper.jpg');
    /* overflow: hidden; */
    font-family: Helvetica, sans-serif;
    color: rgb(211, 211, 211);
    height: 200%;

}

body>div{
    padding-top: 45px;
    scroll-behavior: smooth;
}

.site-container {
    margin: 0 auto;
    height: 300px;
    width: 300px;
    text-align: center;
    display: block;
    background-size: cover;
    border-radius: 50%;
}

.site-container:hover>.site-logo {
    cursor: pointer;
    transform: rotateY(180deg);
}

.site-container img {
    width: 100%;
}

.site-logo {
    transition: transform 1500ms;
    position: relative;
    transform-style: preserve-3d;
    min-width: 300px;
    min-height: 100px;
}
/* .site-container.clicked > .site-logo {
    transform: rotateY(180deg);
} */
.logo,
.back {
    border-radius: 50%;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;    
}

.logo {
    background-image: url('./img/logo.png');
    background-color: #740f0f2d;
    aspect-ratio: 1;
    width: 100%;
    background-size: cover;
}

.back {
    border-style:outset;
    border-color: rgb(207, 21, 21);
    background-color: #3a3a3aa8;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    min-width: 300px;
    min-height: 300px;
    font-family: Helvetica, Arial;
    color: #ffffff;
}


ul {
    list-style-type: none;
    padding: 10px;
    text-align: right;
    background-color: rgba(31, 30, 30, 0.534);
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 10px;
    flex-wrap: wrap;

}

li {
    display: inline-flex;
    margin-right: 4%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

a {
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;

}

@keyframes linearGradient {
    0% {
        color: black;
    }

    25% {
        color: rgba(122, 9, 9, 0.418);
    }

    50% {
        color: rgb(201, 62, 62);
    }

    100% {
        color: red;
    }
}
.nav-bar {
    position: fixed;
    width: 100vw;
    top: 0;
}
.nav-bar a:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
    position: static;
    border-radius: 1%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transition: .5s;

}

.bot-bar ul {
    /* color: ; */
    text-align: left;
    font-family: sans-serif;
    font-size: 2px;
    background-color: rgba(31, 30, 30, 0.534);
    position: fixed;
    bottom: 0;
    width: 100%
}

/* .card-container {
    box-sizing: border-box;
    height: 500px;
    width: 400px;
    margin: 0 auto;
    margin-top: 5rem;
    transition: 1s ;
}


.card {
    height: 400px;
    background-color: rgba(34, 13, 13, 0.363);
    text-align: center;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: inset;
    flex-wrap: wrap;
    color: blue;
    background-image: url('./img/profile.png');
    background-size: cover;

}

.card-container:hover>.card {
    cursor: pointer;
    transform: translateX(-20rem);
    transition: 1s ease-in-out;
}
.info {
    height: 400px;
    background-color: rgba(34, 13, 13, 0.363);
    text-align: center;
    border-radius: 2em;
    overflow: hidden;
    box-shadow: inset;
    flex-wrap: wrap;
    color: blue;
    background-size: cover;
    visibility: hidden;

} */

.card-container {
    box-sizing: border-box;
    height: 400px;
    width: 300px;
    margin: 0 auto;
    margin-top: 5rem;
    transition: 1s;
    position: relative;
}

.card {
    height: 100%;
    background-color: rgba(247, 235, 168, 0.363);
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    flex-wrap: wrap;
    color: rgb(0, 0, 10);
    background-image: url('./img/krishia_profile.png');
    background-size: contain;
    background-position: left; /* Centers the image within the card */
    background-repeat: no-repeat; /* Prevents tiling if the image is smaller than the card */
    transition: transform 1s ease-in-out;
    border: 5px dotted rgb(255, 254, 186);


}

/* Create a hidden info card that appears when .card-container is hovered */
.info {
    position: absolute;
    top: 0;
    left: -620px;
    height: 400px;
    width: 600px;
    margin: 0;
    background-color: rgba(34, 13, 13, 0.8);
    border-radius: 2em;
    box-shadow: inset;
    flex-wrap: wrap;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(-30px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.info h1{
    font-style: oblique;
    text-align: right;
}

/* Show .info when .card-container is hovered */
.card-container:hover > .info {
    opacity: 1;
    transform: translateX(20rem); /* Slide into view */
    visibility: visible;
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.card-container:hover > .card {
    transform: translateX(20rem); /* Slide .card to the left */
}

.bubble-container {
    height: 400px;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}